# Rust build artifacts
/target/
**/*.rs.bk
*.pdb


# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# Documentation build
/doc/

# Test artifacts
*.profraw
*.profdata

# Dev Notes
Dev/

# Builds
.cargo/
vendor/
vendor.tar
builddir/
.flatpak-builder/
repo/
*.flatpak
