[Desktop Entry]
Name=COSMIC-ext Connect
Exec=cosmic-ext-applet-connect
Terminal=false
Type=Application
StartupNotify=true
NotShowIn=COSMIC
Icon=dev.heppen.CosmicExtConnect
Categories=Network
Keywords=Cosmic;Applet;Connect;KDE Connect;
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
