[Desktop Entry]
Name=KDE Connect
Comment=Connect to KDE Connect devices
Icon=io.github.hepp3n.kdeconnect
Exec=cosmic-connect-applet
Terminal=false
Type=Application
StartupNotify=true
NotShowIn=COSMIC
Categories=Network;
Keywords=Cosmic;Applet;Connect;KDE Connect;
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
